
<div th:fragment="admin_navbar">
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit">
    </form>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/Logo.png}" width="70" height="70"alt="Your png"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar"></button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/users}">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Товары</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">Заказы</a>
                    </li>
                    <li><span></span></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:href="@{/account}" role="button"  data-bs-toggle="dropdown" sec:authentication="principal.username"  onclick="customizeDropDownMenu()"></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item " th:href="@{/account}">Профиль</a> </li>
                            <div sec:authorize="hasAuthority('Admin')">
                                <li><a class="dropdown-item " th:href="@{/users}">Пользователи</a> </li>
                            </div>
                            <div sec:authorize="hasAuthority('Admin')">
                                <li><a class="dropdown-item " th:href="@{/products}">Продукты</a> </li>
                            </div>
                            <li><a class="dropdown-item text-danger" id="logoutLink" href="">Выйти</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div th:fragment="user_navbar">
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit">
    </form>
    <nav class="navbar navbar-expand-lg " style="background-color: #FBCF90;">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/Logo.png}" width="70" height="70"alt="Your png"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a th:unless="${#lists.isEmpty(sushi)}" class="nav-link" href="#sushi" style="color: white; font-size: 2em; font-weight: bold;">Суши</a>
                    </li>
                    <li class="nav-item">
                        <a th:unless="${#lists.isEmpty(garnish)}" class="nav-link" href="#garnish" style="color: white; font-size: 2em; font-weight: bold;">Гарнир</a>
                    </li>
                    <li class="nav-item">
                        <a th:unless="${#lists.isEmpty(sauce)}" class="nav-link" href="#sauce" style="color: white; font-size: 2em; font-weight: bold;">Соусы</a>
                    </li>
                    <li class="nav-item">
                        <a th:unless="${#lists.isEmpty(drink)}" class="nav-link" href="#drinks" style="color: white; font-size: 2em; font-weight: bold;">Напитки</a>
                    </li>
                </ul>
                <th:block sec:authorize="isAuthenticated()">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/cart" style="color: white; font-size: 2em; font-weight: bold;">Корзина</a>
                        </li>
                    </ul>
                </th:block>
                <th:block sec:authorize="!isAuthenticated()">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/login" style="color: white; font-size: 2em; font-weight: bold;">Вход/Регистрация</a>
                        </li>
                    </ul>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:href="@{/account}" role="button" style="color: white; font-size: 2em;" data-bs-toggle="dropdown" sec:authentication="principal.username"  onclick="customizeDropDownMenu()"></a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item " th:href="@{/account}">Профиль</a> </li>
                                <div sec:authorize="hasAuthority('Admin')">
                                    <li><a class="dropdown-item " th:href="@{/users}">Пользователи</a> </li>
                                </div>
                                <div sec:authorize="hasAuthority('Admin')">
                                    <li><a class="dropdown-item " th:href="@{/products}">Продукты</a> </li>
                                </div>
                                <li><a class="dropdown-item text-danger" id="logoutLink" href="">Выйти</a> </li>
                            </ul>
                        </li>
                    </ul>
                </th:block>

            </div>
        </div>
    </nav>
</div>
</body>
</html>